* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: #f0f0f5;
  }
  
  #main {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    
  }
  
  .card {
    
width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }

  button{
    width: 200px;
    margin-left:45%;
    background:#3fcc1c;
    height: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 10px;
    font-size: 30px;
  }
  
  input[type=button]{
    width: 200px;
    margin-left:45%;
    background:#e71e04;
    height: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 30px;
    border-radius: 10px;
  }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #3fcc1c;
    backface-visibility: hidden;
  }
  .card.flip {
    transform: rotateY(180deg);
  }

  .front {
    transform: rotateY(180deg);
  }
  